<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DTDDDbContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CuaHangDTDD;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceDonHang" />
        <binding name="BasicHttpBinding_IServiceNhanVien" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49686/ServiceNhanVien.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceNhanVien"
        contract="ServiceNhanVien.IServiceNhanVien" name="BasicHttpBinding_IServiceNhanVien" />
      <endpoint address="http://localhost:49686/ServiceDonHang.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDonHang"
        contract="ServiceDonHang.IServiceDonHang" name="BasicHttpBinding_IServiceDonHang" />
    </client>
  </system.serviceModel>
</configuration>